nav ul li{
  transition-duration: 0.25s;
  visibility: hidden;
  cursor: pointer;
  margin: 3px;
}


nav ul:hover > li,
nav ul:focus-within > li,
nav ul li:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
