/* Always set the map height explicitly to define the size of the div
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

td {
  padding: 3px;
}

.bg_highlight {
  background-color: #DDDDDD;
}

h1 {
  font-size: 2.2em;
  font-family: rustic;
}

h2 {
  font-size: 1.8em;
}

nav {
  width: 100%;
  background-color: #FFaa66;
  border: solid #FFEFBF 2px;
  padding-left: 5px;
  padding-bottom: 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  padding: 0;
  width: 60px;
  border: inset 2px;
  border-top-color: #44AA44;
  border-left-color: #44AA44;
  border-right-color: green;
  border-bottom-color: green;
}

nav li:hover {
  background-color: #dddddd;
}

section {
  padding-left: 5px;
  width: auto;
  float: left;
  position: relative;
  max-width: 100%;
}

input {
  margin-bottom: 13px;
  border: inset 2px;
  border-top-color: green;
  border-left-color: green;
  border-right-color: #44AA44;
  border-bottom-color: #44AA44;
}

.soekefelt{
  margin-top: 8px;
  margin-bottom: 0px;
}
